<div class="container">
    <header>
        <h1>Monitoramento de Demandas</h1>
        <p-button label="Adicionar Demanda +" (onClick)="abrirModal()" />
    </header>

    <!-- O Dialog deve ficar fora da section de registros para não quebrar o layout -->
    <p-dialog header="Nova Demanda" [(visible)]="exibirModal" [modal]="true"
        [style]="{ width: '25rem' , height: '15rem'}">
        <div class="flex-column mb-2">
            <label for="nome">Nome da Demanda</label>
            <input pInputText id="nome" [(ngModel)]="novaDemanda.nome" />
        </div>
        <div class="flex justify-content-end gap-2">
            <p-button label="Cancelar" severity="secondary" (onClick)="exibirModal = false" />
            <p-button label="Salvar" (onClick)="salvarDemanda()" />
        </div>
    </p-dialog>

    <section class="registros">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <!-- O pipe async espera os dados chegarem do Java -->
                @if (demandas$ | async; as lista) {

                @for (d of lista; track d.id) {
                <tr>
                    <td>{{ d.id }}</td>
                    <td>{{ d.nome }}</td>
                    <td><span class="status">{{ d.status }}</span></td>
                    <td><button class="btn-excluir">🗑️</button></td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="4" style="text-align: center; padding: 20px;">
                        Nenhum registro encontrado no banco de dados.
                    </td>
                </tr>
                }

                } @else {
                <!-- Enquanto a requisição não volta, mostra um carregando -->
                <tr>
                    <td colspan="4" style="text-align: center; padding: 20px;">
                        Carregando demandas...
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </section>
</div>